html,body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;	
	overflow:hidden;
	background-color:black;
	color:#111111;
	font-size:7pt;
	font-family:'Lucida Sans', 'Lucida Sans Unicode', Verdana, serif;
}
a, a:hover, a:visited, a:link, a:active {
	text-decoration:none;
	color:#111111;
	border:none;
	text-transform:uppercase;
}
a img,a img:hover, a img:visited, a img:link {
	border:none;
}
div {
	display:block;
	margin:0px;
	padding:0px;
	border:none;
}
div#main {
	width:100%;
	height:100%;
	position:absolute;
	left:0px;top:0px;
}
div#main iframe#zoomer {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:none;
}
div#main #carousel {
	position:absolute;
	z-index:2;
	bottom:0px;
	left:0px;
	width:100%;
	height:164px;
	overflow:hidden;
}
ul {
        margin:0px !important;
        padding:0px;
        list-style:none;
	height:140px;
	margin-right:5px;
	zoom:1;
}
li {
        display:block;
        float:left;
        margin:6px 0px 0px 3px;
        width:110px;
        height:110px;
        position:relative;
        background-color: #363636;
        text-align:center;
	border-top:1px solid #AAAAAA;
        border-left:1px solid #AAAAAA;
        border-right:1px solid #000000;
        border-bottom:1px solid #000000; 
	-moz-border-radius:4px;
        -webkit-border-radius:4px;
        -khtml-border-radius:4px;
        border-radius:4px;
	z-index:1;
}
li:hover {
	background-color:#464646;
	cursor:pointer;
}
.imgholder {
	position:absolute;
	top: 4px;
	left: 8px;
        height: 70px;
	width: 94px;
        overflow: hidden;
        text-align: center;
}
.imgholder img {
	display:block;
        margin:auto;
	max-width: 94px;
	max-height: 70px;
}
.textholder {
	position: absolute;
	left: 8px;
        bottom: 4px;
	width: 94px;
	height: 28px;
        color: #DDDDDD;
        font-size: 8pt;
        overflow: hidden;
        text-align: center;
}
div#main #carousel #head {
	position:absolute;
	left:0px;top:0px;
	height:20px;
	width:100%;
	color:#111111;
	border-top:2px solid #939393;
	border-bottom:2px solid #939393;
}
div#main #carousel #head img {
	margin:3px 8px 0px 8px;
	height:12px;
}
div#main #carousel #head #bg {
	position:absolute;left:0px;top:0px;
	background-color:#FFFFFF;
	width:100%;height:100%;
}
.opaque70 {
	/* Theoretically for IE 8 & 9 (more valid) */
        /* ...but not required as filter works too */
        /* should come BEFORE filter */
        /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";*/

        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        /*filter: alpha(opacity=70);*/

        /* Older than Firefox 0.9 */
        -moz-opacity:0.7;

        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.7;

        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.7;
}
div#main #carousel #head #fg {
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	vertical-align:middle !important;
	line-height:100%;
	border:none;
}
div#main #carousel #head #fg #total {
	position:absolute;
	left:10px;top:0px;
	right:10px;
	height:18px;
	overflow:hidden;
	vertical-align:middle;
}
div#main #carousel #head #fg #total div {
	display:block;
	width:auto;
	height:18px;
	line-height:18px;
	vertical-align:middle;
}
div#main #carousel #head #fg #total div.left {
	float:left;
}
div#main #carousel #head #fg #total div.right {
        float:right;
}
div#main #carousel #content {
        position:absolute;
        top:24px;
        left:0px;
        width:100%;
        height:140px;
        position:relative;
	overflow-x:auto;
	overflow-y:hidden;
}
#background {
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        overflow:hidden;
	background-color:#444444;
}
.shadow {
        -moz-box-shadow: 2px 2px 2px #000000;
        -webkit-box-shadow: 2px 2px 2px #000000;
        box-shadow: 2px 2px 2px #000000;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.selected_image {
        background-color:#111111 !important;
        border-top:1px solid #000000 !important;
        border-left:1px solid #000000 !important;
        border-right:1px solid #AAAAAA !important;
        border-bottom:1px solid #AAAAAA !important;
}
#list_empty {
	position:fixed;
	left:50%;
	top:50%;
	width:200px;
	height:50px;
	margin-top:-25px;
	margin-left:-100px;
	z-index:300;
	color:white;
	text-align:center;
	vertical-align:middle;
	font-size:14pt;
}
