#main table td,#main table th{
	vertical-align:top;
	margin:0px;
	padding:10px;
}
#main table td table{
	margin:0px;padding:0px;
}
#main table td table td,#main table td table th{
	margin:0px;padding:0px;
}

img{
	border:none;
}
table#tabs {
	border-collapse:collapse;
	margin:0px;
	padding:0px;
	border:none;
}
table#tabs th, table#tabs td {
	margin:0px;
        padding:0px;
}
table#record a {
	margin-right:5px;
}
table#record table.rft th{
	text-align:left;
	font-weight:bold;
	padding:2px 30px 2px 0px;
	margin:0px;
	width:100px;
	
}
table#record table.rft th {
	text-transform:capitalize;
}
table#record th.title{
	font-size:13pt;font-weight:bold;
	text-align:left;
	padding:10px 10px 10px 0px;
	background-color:white;
}
table#record th.subtitle{
	margin:0px;
	text-align:left;
	padding:0px;padding-left:50px;
	background-color:white;
}
table#record table.rft td{
	margin:0px;
	padding:2px 30px 2px 0px;
}
table#record table.example td{
	text-align:right;
}
img#example{
	width:180px;
}
div#imgwrapper{
	display:block;
	position:relative;
	padding:0px;margin-right:30px;margin-bottom:20px;margin-top:5px;
}
.shadow {
	-moz-box-shadow: 4px 4px 4px #555555;
	-webkit-box-shadow: 4px 4px 4px #555555;
	box-shadow: 4px 4px 4px #555555;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555');
}
.glow {
        -moz-box-shadow: 0px 0px 4px #555555;
        -webkit-box-shadow: 0px 0px 4px #555555;
        box-shadow: 0px 0px 4px #555555;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555')";
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555');
}

div.prevnext{	    
    clear: both;
    margin: 10px 0;
    padding: 8px 0 8px 0;margin-bottom:0px;margin-top:20px;
    position: relative;
    text-align: center;
}
div.prevnext a {margin-right:5px;}
div.prevnext .first{position:absolute;left:0px;top:8px;}
div.prevnext .prev{position:absolute;left:80px;top:8px;}
div.prevnext .next{position:absolute;right:80px;top:8px;}
div.prevnext .last{position:absolute;right:0px;top:8px;}
span.current{border-bottom:1px solid #B80707;color:#B80707;padding:4px;}
div.results{	    
    clear: both;
    margin: 0px 0;
    padding: 0px 0;
    position: relative;
	text-align: center;
	font-size:9pt;color:#666666;
	
}
#main div.results a {
	font-weight:normal;font-size:9pt;
}
#raster{
	display:block;
	margin:0px;padding:0px;margin-top:10px;
	background-color:#FFFFFF;margin-bottom:10px;
	/*border:1px solid black;*/
}
#raster #raster_inside{
	display:block;
	padding:0px;
	margin:5px 0px 0px 5px;
}

.block{
	position:relative;
	display:block;
	text-align:center;
	float:left;
	margin:0px 5px 5px 0px;
	padding:0px;
	width:180px;
	height:170px;
	overflow:hidden;
	border:1px solid #555555;	
	background-color:white;
}
.block:hover {
	border:1px solid #a2b548;
}
#raster_items {
	display:block;
	width:660px;
	margin:0px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
}
.block_normal{
	position:relative;
	display:block;
	text-align:center;
	float:left;
	margin: 5px;
	padding:0px;
	width:120px;
	height:150px;
	overflow:hidden;
	border:1px solid gray;
	background-color:white;
}
.block_normal img.add_tag {
	position:absolute;
	z-index:1;
	right:5px;	
	top:5px;
	color:black;
	font-weight:normal;
	text-decoration:none;
}
img#tagged_image {
	width:150px;
}
.block_normal a.add_tag:hover {
	text-decoration:underline;
}
.block .info{
	position:absolute;
	z-index:1100;
	left:0px;top:0px;padding:5px;
	background-color:white;
}
.imgholder{
	position:absolute;
	left:5px;
	right:5px;
	top:5px;
	overflow:hidden;
	height:110px;
}
.imgholder:hover {
	cursor:pointer;
}
.imgholder img{
	display:block;
	margin-left:auto;margin-right:auto;
}
.caption{
	position:absolute;
	top:120px;
	left:5px;
	right:5px;
	/*width:150px;*/
	font-size:9pt;
	padding:5px;margin:0;
	height:32px;overflow:hidden;
}
.caption_item {
	position:absolute;
	left:5px;
	right:5px;
	bottom:0px;
	overflow:hidden;
	z-index:1;
}
.caption_item img {
	float:left;
	margin:0px 4px 4px 0px;
}
.checkbox_cart {
	position:absolute;
	z-index:1;
	top:0px;
	right:0px;
	/*width:25px;height:25px;*/
}

.error{
	border:none;
	color:#940721;
	text-align:center;
	font-size:11pt;	
	padding:10px;margin:0px;background-color:white;
	width:98%;
}
.msg{
	border:none;
	color:#4E8544;
	text-align:center;
	font-size:11pt;	
	padding:10px;background-color:white;margin:0px;
	width:98%;
}
ul#tabnav { /* general settings */
    text-align: left; /* set to left, right or center */
    margin: 1em 0 1em 0; /* set margins as desired */
    font: 11px sans-serif; /* set font as desired */
    border-bottom: 1px solid #AAAAAA; /* set border COLOR as desired */
    list-style-type: none;
    padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */ 
} 
ul#tabnav li{ /* do not change */
    display: inline;
} 
ul#tabnav > li a { /* settings for all tab links */
    padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #AAAAAA; /* set border COLOR as desired; usually matches border color specified in #tabnav */
    background-color:#DDDDDD; /* set unselected tab background color as desired */
    color: black; /* set unselected tab link color as desired */
    margin-right: 0px; /* set additional spacing between tabs as desired */
    text-decoration: none;
    border-bottom: none;
    font-family:'Lucida Sans', 'Lucida Sans Unicode', 'Verdana','Consolas', serif;font-size:11pt;font-weight:normal;
} 
ul#tabnav li.selected_tab{ /* settings for selected tab */
    border-bottom: 1px solid white; /* set border color to page background color */
    background-color: #fff; /* set background color to match above border color */
}

ul#tabnav li.selected_tab a { /* settings for selected tab link */
    background-color: #fff; /* set selected tab background color as desired */
    color: #000; /* set selected tab link color as desired */
    position: relative;
    top: 1px;
    padding-top: 4px; /* must change with respect to padding (X) above and below */
}
input#query {
	border: 1px solid #BFBFBF;
	padding-left: 30px;
	height: 20px;
	width: 150px;
}
#search {
	display:block;
	width:100%;
	margin-bottom:25px;
	text-align:center;
}
div#search_advanced {
	display:block;
	margin:10px 0px 10px 0px;
	padding:0;
}
div#search_advanced table {
	width:500px;
	margin-left:auto;margin-right:auto;
	border-collapse:collapse;
}
div#search_advanced td {
	text-align:left;
	padding:2px 10px 2px 10px;
}
div#search_advanced th {
	text-align:left;font-size:bold;
	padding:5px 10px 5px 10px;
}
div#search_advanced th.title{
	text-align:center;
	vertical-align:middle;
	padding:8px;
}
div#search_advanced th.foot {
	text-align:left;
        vertical-align:middle;
        padding:8px;
}
#search_help {
	padding:5px;
}
#search_help p {
	padding-left:0px;
}
#search_help ul {
	list-style-type:square;
	padding-left:15px;
}
.row {
	display:block;
	width:100%;
	height:300px;
	margin:0px;padding:0px;
	position:relative;margin-top:20px;background-color:#FCFAFA;
	border:1px solid #E3DAD8;
	border-left:none;border-right:none;
}
table#columns h1 {
	padding-top:0px;padding-left:0px;
}
table#columns td {
	padding:0px 0px 20px 40px;margin-bottom:10px;
}
table#columns p {
	padding-left:0px;text-align:justify;
}
table#columns td.image {
	padding:0px 0px 20px 0px;margin:0px;width:150px;
}
table#columns td.image img {
	width:150px;
}
#main .page_title {
        margin:0px;padding:20px;
        font-size:15pt;font-weight:bold;vertical-align:middle;text-align:center;
	color:#121D22;
}
.left {
	display:block;float:left;margin-right:5px;
}
.right {
        display:block;float:right;margin-left:5px;
}
.band {
	display:block;
	padding:5px;
	position:relative;
	/*border:1px solid black;*/
}
.paging {
	display:block;
	float:left;
}
.paging a {
	padding:4px;
}
.manip {
	display:block;
	float:right;
}
.manip form {
        display:block;float:left;
}

.column {
	display:block;
	height:210px;
	position:relative;
	margin-bottom:5px;
	width:100%;
}
.column_pic_block {
        position:absolute;
	left:0px;top:0px;
	text-align:center;
	vertical-align:middle;
        margin:0px;
        padding:0px;
        width:150px;
        height:200px;
        overflow:hidden;
        background-color:white;padding:5px;
}
.column_txt_block {
	position:absolute;
	left:160px;top:0px;right:0px;bottom:0px;
	overflow:hidden;
	padding:20px;padding-left:50px;padding-top:0px;
	text-align:justify;
}
.column_txt_block * {
	padding:0px 20px 20px 10px;
}
div#sub_main{
        display:block;margin-top:5px;
        width:100%;
        height:400px;
        margin-left:auto;
        margin-right:auto;
        position:relative;border:none;
}
#car_nav{
        position:absolute;
        width:10%;
        height:400px;
        top:0px;right:0px;
        border:1px solid black;
}
#car_nav #carousel{
        position:absolute;
        width:100%;
        height:400px;
        bottom:0px;right:0px;border-left:1px solid white;
}
#zoomer_iframe {
        display:block;
        position:relative;
        width:90%;
        height:100%;
        margin:0px;
        padding:0px;border:1px solid black;
}
.selected_image {
        background-color:#111111 !important;
        border-top:1px solid #000000 !important;
        border-left:1px solid #000000 !important;
        border-right:1px solid #AAAAAA !important;
        border-bottom:1px solid #AAAAAA !important;
}
#mycarousel a.changeItem {
        text-decoration:none;
        color:white;
        font-size:10pt;
        font-style:normal;font-weight:normal;
        border:none;
}
#mycarousel a.changeItem:hover {
        border:none;
}
#mycarousel a.changeItem:active {
        border:none;
}
#mycarousel a.changeItem:visited {
        border:none;
}
