#sparql_div {
	/*border:1px solid black;*/
}
#sparql_div a {
        font-size:10px;
}
#sparql_div h1 {
}
#sparql_div #paging {
	/*border:1px solid black;*/
}
#sparql_div #paging a {
	margin:5px;
}
#sparql_div #images {
	display:block;
	/*border:1px solid black;*/
}
#sparql_div #images .bl {
	display:block;
	float:left;
	margin:0px 5px 5px 0px;
	width:100px;
	height:100px;
	overflow:hidden;
	position:relative;
	text-align:center;/*zowel foto als tekst worden nu gecentreerd*/
	/*border:1px solid black;*/
}
#sparql_div #images .bl .imgh {
	position:absolute;
	left:5px;
	top:5px;
	width:90px;
	height:60px;
	/*border:1px solid black;*/
	overflow:hidden;
}
#sparql_div #images .bl .imgh img.related_image {
	width:80px;
}
#sparql_div #images .bl .imgh img.av_icon {
	position:absolute;
	z-index:1;
	right:0px;
	bottom:0px;
}
#sparql_div #images .bl .cp {
	position:absolute;
	/*border:1px solid black;*/
	left:5px;
	bottom:5px;
	width:90px;
	padding:0px;
	height:25px;
	overflow:hidden;
}
