[% 
tt_term_paging_back_to_results = "Terug naar resultaten" 
tt_term_paging_first = "eerste" 
tt_term_paging_previous = "vorige" 
tt_term_paging_next = "volgende" 
tt_term_paging_last = "laatste" 
tt_term_paging_first_record = tt_term_paging_first _ " record"
tt_term_paging_previous_record = tt_term_paging_previous _ " record"
tt_term_paging_next_record = tt_term_paging_next _ " record"
tt_term_paging_last_record = tt_term_paging_last _ " record"
%]
