<div id="footer">
	<p style="float:left;">
		<a href="http://www.ugent.be/[% args.language %]" target="_blank">
			<img src="[% conf.all.rooturl %]/images/icons/logo-ugent.png" width="83" height="60" />
		</a>
	</p>
	<p style="float:right;">&copy; 2009&nbsp;[% tt_title_footer %]</p>
</div>
