<div id="top">
	<img src="[% conf.all.rooturl %]/images/icons/archipel.png" style="height:70px;margin-top:5px;"/>
        <div id="menu">
        	<ul>
                        <li><a href="[% conf.all.originurl %]?language=[% args.language %]" class="current">home</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">portofolio</a></li>
                        <li><a href="#">contact</a></li>
                </ul>
        </div>
</div>
