<div class="left">
	<a onclick="javascript: pageTracker._trackPageview('[% conf.all.rooturl %]/json?rft_id=[% args.hit.item("_id") %]');" href="[% conf.all.rooturl %]/json?rft_id=[% args.hit.item("_id") %]"><img border="0" title="[% tt_title_this_record_in_json %]" src="[% conf.all.rooturl %]/images/icons/json.png"></a>
</div>
