[% INCLUDE nl/head.tt %]
<link rel="stylesheet" href="[% rooturl %]/css/mycart.css" type="text/css" media="screen" />
<script type="text/javascript">
	function confirm_delete_cart(){
                if(confirm("Hiermee wordt het mandje geledigd! Bent u akkoord?"))return true;
                return false;
        }
	function cancelAction(action){
		$('#'+action).fadeOut('slow');
		$('#'+action).remove();
	}
</script>
