<div id="top">
	<h2><a href="#" title="Back to main page">LoadFoO [V2]</a></h2>
        <div id="menu">
        	<ul>
                        <li><a href="[% rooturl %]" class="current">home</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">portofolio</a></li>
                        <li><a href="#">contact</a></li>
                </ul>
        </div>
</div>
