html, body {
	margin:0px;
	padding:0px;
 	width:100%;   
	height:100%;
}
#container{
	position:relative;	
	width:100%;
	height:100%;
	margin:auto;
}
#zoomer{
	position:absolute;
	left:0px;top:0px;right:0px;bottom:0px;
	overflow:hidden;
}
#zoomer_iframe{
	display:block;
	position:relative;
	width:89.5%;
	height:100%;
	margin:0px;
	padding:0px
}
#zoomer_carousel{
	display:block;
	width:100%;
	height:15%;
	/*border:1px solid black;*/
	position:relative;
}
#zoomer_info{
	position:absolute;
	right:1px;
	top:1px;
	z-index:99;
	color:#222222;
	height:1em;
	padding:1px;text-align:center;
	background-color:white;
}
img{
	border:none;
}


/*extra*/
#zoomer_carousel_vertical{
	position:absolute;
	left:0px;top:0px;
	height:100%;
	width:10%;	
}
#zoomer_iframe_vertical{
	position:absolute;
	left:10%;top:0px;
	height:100%;
	width:90%;	
}
