<div id="choose">	
	<a href="[% conf.all.rooturl %]?q=[% params.q | url %]&amp;page=[% sess.page %]&amp;num=[% sess.num %]&amp;sort=[% args.s %]&amp;sort_dir=[% params.sort_dir %]&language=[% args.language %]">[% tt_title_back_to_results %] ([% args.total_hits %])</a>  
</div>
